In [10]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer
import string
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('omw-1.4')
nltk.download('stopwords')

def tokenize_input(user_input):
    user_input = RegexpTokenizer(r'[a-zA-z]+').tokenize(user_input)
    user_input = [t.lower() for t in user_input]
    user_input = [t for t in user_input if not t in list(string.punctuation)]
    user_input = [t for t in user_input if not t in stopwords.words("english")]
    user_input = [nltk.stem.WordNetLemmatizer().lemmatize(word) for word in user_input]
    return inputa

movies_df = pd.read_csv('../data/test.csv')

# Create a bag-of-words representation for each movie description
vectorizer = CountVectorizer()
movie_bow = vectorizer.fit_transform(movies_df['Description Tokenized'])

# Get user input description
user_input = 'An ambitious young executive chooses a'

user_tokenized_input = tokenize_input(user_input)

# Create a bag-of-words representation for the user input description
user_input_bow = vectorizer.transform(user_tokenized_input)

# Calculate similarity between user input description and each movie description
similarity_scores = cosine_similarity(user_input_bow, movie_bow)

# Rank movies based on similarity
ranked_movies = movies_df.iloc[similarity_scores[0].argsort()[::-1]]

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/xaviersantos/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/xaviersantos/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     /Users/xaviersantos/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/xaviersantos/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [12]:
ranked_movies

,Name,Date Published,Description,Rating,Rating Count,Content Rating,Action,Adult,Adventure,Animation,...,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western,Description Tokenized
3650,Heatwave,17/01/2022,"Claire, an ambitious young woman, starts worki...",5.0,925.0,R,0,0,0,0,...,0,0,0,0,0,0,1,0,0,"['claire', 'ambitious', 'young', 'woman', 'sta..."
4272,"Vanity Fair: Killers Kill, Dead Men Die",NaN,The most ambitious portfolio in the thirteen-y...,5.1,257.0,NaN,0,0,0,0,...,0,0,0,1,0,0,0,0,0,"['ambitious', 'portfolio', 'thirteen', 'year',..."
7366,Rogue Trader,27/10/2021,Ambitious investment banker Tom Walker is cata...,6.2,85.0,NaN,0,0,0,0,...,0,0,0,0,0,0,1,0,0,"['ambitious', 'investment', 'banker', 'tom', '..."
4186,My Beautiful Laundrette,03/02/1989,An ambitious Pakistani Briton and his white bo...,6.8,16522.0,M/16,0,0,0,0,...,0,1,0,0,0,0,0,0,0,"['ambitious', 'pakistani', 'briton', 'white', ..."
1630,The Caddy,03/03/2021,When an ambitious young Mexican diplomat loses...,NaN,NaN,NaN,0,0,0,0,...,0,0,0,1,0,0,1,0,0,"['ambitious', 'young', 'mexican', 'diplomat', ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5483,Paris Trout,29/11/1991,"In a small Georgia town in the 1950s, bigoted ...",6.4,1593.0,M/16,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"['small', 'georgia', 'town', 'bigoted', 'store..."
5484,The Poison Rose,30/05/2019,"Inspired by classic film noir, Carson Phillips...",4.7,10203.0,M/14,0,0,0,0,...,0,0,0,0,0,0,1,0,0,"['inspired', 'classic', 'film', 'noir', 'carso..."
5485,Da hong denglong gaogao gua,22/01/1993,A young woman becomes the fourth wife of a wea...,8.1,33563.0,M/12,0,0,0,0,...,0,1,0,0,0,0,0,0,0,"['young', 'woman', 'becomes', 'fourth', 'wife'..."
5486,Requiem pro panenku,01/02/1992,Fourteen-year-old Marika was placed in a socia...,7.3,360.0,NaN,0,0,0,0,...,0,0,0,0,0,0,1,0,0,"['fourteen', 'year', 'old', 'marika', 'placed'..."
4111,Mao tou ying yu xiao fei xiang,12/12/1984,Two retired thieves are blackmailed into teach...,5.8,161.0,NaN,1,0,0,0,...,0,0,0,0,0,0,0,0,0,"['two', 'retired', 'thief', 'blackmailed', 'te..."

In [ ]:
import pandas as pd
import numpy as np
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer
import string
from sklearn.feature_extraction.text import TfidfVectorizer
from gensim.models import KeyedVectors

nltk.download('punkt')
nltk.download('wordnet')
nltk.download('omw-1.4')
nltk.download('stopwords')

def tokenize_input(user_input):
    user_input = RegexpTokenizer(r'[a-zA-z]+').tokenize(user_input)
    user_input = [t.lower() for t in user_input]
    user_input = [t for t in user_input if not t in list(string.punctuation)]
    user_input = [t for t in user_input if not t in stopwords.words("english")]
    user_input = [nltk.stem.WordNetLemmatizer().lemmatize(word) for word in user_input]
    return user_input

# Load movie data
movies_df = pd.read_csv('../data/test.csv')

# Tokenize movie descriptions
tokenized_descriptions = movies_df['Description Tokenized'].apply(tokenize_input)

# Tokenize user input
user_input = 'An ambitious young executive chooses a'
tokenized_user_input = tokenize_input(user_input)

# TF-IDF similarity
vectorizer = TfidfVectorizer()
tfidf_bow = vectorizer.fit_transform(movies_df['Description Tokenized'])
user_input_tfidf_bow = vectorizer.transform([user_input])
tfidf_scores = cosine_similarity(user_input_tfidf_bow, tfidf_bow)

# Word2Vec similarity
w2v_model = KeyedVectors.load_word2vec_format('../models/word2vec.bin', binary=True)
w2v_scores = []
for description in tokenized_descriptions:
    description_vectors = [w2v_model[word] for word in description if word in w2v_model.vocab]
    user_input_vectors = [w2v_model[word] for word in tokenized_user_input if word in w2v_model.vocab]
    similarity_matrix = np.inner(description_vectors, user_input_vectors)
    w2v_scores.append(np.sum(similarity_matrix) / (np.linalg.norm(description_vectors, axis=1).sum() * np.linalg.norm(user_input_vectors, axis=1).sum()))

# Combine all similarity scores
similarity_scores = np.column_stack((tfidf_scores, rake_scores, w2v_scores))

# Rank movies based on similarity
ranked_movies = movies_df.iloc[similarity_scores.mean(axis=1).argsort()[::-1]]

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/xaviersantos/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/xaviersantos/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     /Users/xaviersantos/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/xaviersantos/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [22]:
ranked_movies

Collecting summa==1.2.0
  Downloading summa-1.2.0.tar.gz (54 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 54.9/54.9 kB 1.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: scipy>=0.19 in /Users/xaviersantos/opt/anaconda3/lib/python3.9/site-packages (from summa==1.2.0) (1.9.1)
Requirement already satisfied: numpy<1.25.0,>=1.18.5 in /Users/xaviersantos/opt/anaconda3/lib/python3.9/site-packages (from scipy>=0.19->summa==1.2.0) (1.21.5)
Building wheels for collected packages: summa
  Building wheel for summa (setup.py) ... done
  Created wheel for summa: filename=summa-1.2.0-py3-none-any.whl size=54390 sha256=f88d5357a697aad2db8cb1962107728a8e2e3230b24005d957e85a55904e5c5f
  Stored in directory: /Users/xaviersantos/Library/Caches/pip/wheels/ed/2c/5f/a0ccc5955d44d2cea78729f4425e73f818d2629517f7af0f8b
Successfully built summa
Installing collected packages: summa
Successfully installed summa-1.2.0